* {
  font-family: 'Manrope', sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

:root {
  scroll-behavior: smooth;

  /* REDESIGN VARS: */
  --max-width: 1200px;

  --dark: #000;
  --light: #fff;

  --primary-dark: #066044;
  --primary: #099268;
  --primary-light: #0cc089;
  --primary-lightest: #cee9e1;

  --h1: 60px;
  --h2: 48px;
  --h3: 36px;

  --strong: 24px;
  --p: 18px;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 108%;
}

p,
em,
strong,
small {
  line-height: 120%;
  font-weight: 500;
}

@media (max-width: 1150px) {
  :root {
    --h1: 48px;
    --h2: 36px;
    --h3: 26px;

    --strong: 22px;
    --p: 16px;
  }
}

@media (max-width: 500px) {
  :root {
    --h1: 36px;
    --h2: 26px;
    --h3: 22px;
  }
}
