* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(90deg, rgba(33, 43, 69, 1) 0%, rgba(54, 50, 101, 1) 100%); */
  /* background: rgb(33, 43, 69); */
  color: white;
  min-height: 100vh;
}

:root {
  scroll-behavior: smooth;

  --green-gradient: linear-gradient(121deg, rgba(0, 206, 175, 1) 0%, rgba(0, 206, 132, 1) 100%);
  --green-gradient-hover: linear-gradient(121deg, rgba(2, 198, 168, 1) 0%, rgba(2, 193, 124, 1) 100%);

  --btn: 18px;
  --btn-large: 22px;

  /* REDESIGN VARS: */
  --max-width: 1200px;

  --dark: #000;
  --light: #fff;

  --primary-dark: #066044;
  --primary: #099268;
  --primary-light: #0cc089;
  --primary-lightest: #cee9e1;

  --h1: 60px;
  --h2: 48px;
  --h3: 36px;

  --strong: 24px;
  --p: 18px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  line-height: 108%;
}

p,
em,
strong,
small {
  line-height: 120%;
  font-weight: 500;
}

@media (max-width: 1150px) {
  :root {
    --h1: 48px;
    --h2: 36px;
    --h3: 26px;

    --strong: 22px;
    --p: 16px;
  }
}

@media (max-width: 500px) {
  :root {
    --h1: 36px;
    --h2: 26px;
    --h3: 22px;
  }
}
