.authenticate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-dark);
  min-height: calc(100vh - 102px);
  padding: 50px 30px;
}

@media (max-width: 550px) {
  .authenticate {
    min-height: calc(100vh - 110px);
  }
}
