.AuthForm {
  background: #ffff;
  position: relative;
  padding: 30px;
  -webkit-box-shadow: 3px 11px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 11px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 11px 25px 0px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  width: 100%;
}

.AuthForm-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.AuthForm-header img {
  margin-bottom: 30px;
  max-width: 60px;
  width: 100%;
  height: auto;
}

.AuthForm-header h2 {
  font-size: var(--h2);
  font-weight: 700;
  text-align: center;
}

.AuthForm .inputbox-container {
  margin-bottom: 50px;
}

.AuthForm-submit-btn {
  width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}

.AuthForm p {
  font-size: var(--p);
}

.AuthForm span {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
}

@media (max-width: 350px) {
  .AuthForm-header h2 {
    font-size: 1.5rem;
  }
}
