.btn {
  color: #000;
  background: var(--green-gradient);
  font-size: var(--btn);
  font-weight: 600;
  padding: 10px 15px;
}

.btn:hover {
  background: var(--green-gradient-hover);
}

.btn-larger {
  font-size: var(--btn-large);
  padding: 15px 20px;
  min-width: 260px;
}
