.ControlPanel {
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
}

.ControlPanel section {
  width: 100%;
}

.ControlPanel section > div:first-child {
  background: var(--primary-dark);
  padding: 20px 50px;
}

.ControlPanel section > div:last-child {
  padding: 30px 50px;
}

.hamburger {
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .ControlPanel section > div:first-child,
  .ControlPanel section > div:last-child {
    padding-left: 30px;
    padding-right: 30px;
  }
}
