.demo-section {
  background: #f9fafc;
  width: 100%;
  margin: 0 !important;
  max-width: none !important;
  -webkit-box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.demo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 1250px;
  padding: 100px 30px 120px 30px;
}

.demo-container > div:nth-child(2) {
  width: 45%;
  padding-left: 100px;
}

.demo-container > div:first-child {
  width: 55%;
  align-self: flex-end;
}

.demo-section img {
  max-width: 1200px;
  width: 100%;
}

.demo-section h1 {
  font-size: 3rem;
  color: #324065;
  margin-bottom: 40px;
}

.demo-section p {
  color: #3240658f;
  font-size: 1.4rem;
  margin-bottom: 60px;
}

.demo-section p span {
  font-style: italic;
}

.demo-section h1 span {
  font-style: italic;
  position: relative;
}

.demo-section h1 span img {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .demo-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 30px 40px 30px;
  }

  .demo-container > div:first-child {
    padding-right: 0;
    width: 100%;
    order: 2;
  }

  .demo-container > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
  }

  .demo-section button {
    margin-bottom: 40px;
  }

  .demo-section h1 {
    margin-bottom: 20px;
  }

  .demo-section p {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .demo-section button {
    width: 100%;
    min-width: 0;
  }

  .demo-section h1 {
    font-size: 2rem;
  }
}
