.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-container div {
  transition: all 0.3s ease-in-out;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}

.dropdown-label {
  color: var(--dark);
  font-size: var(--p);
  font-weight: 600;
  margin-bottom: 12px;
}

.dropdown-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: var(--primary);
  cursor: pointer;
  outline: none;
  width: 100%;
}

.dropdown-box p {
  color: var(--light);
  font-size: var(--p);
  font-weight: 400;
}

.dropdown-box svg {
  color: #fff;
  font-size: 1.8rem;
}

.dropdown-items {
  /* position: absolute;
  z-index: 100; */
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.dropdown-item {
  /* z-index: 100; */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background: var(--primary-lightest);
  color: var(--primary);
  padding: 10px 12px;
}

.dropdown-item p {
  font-weight: 400;
}

.dropdown-item:hover,
.dropdown-item-active {
  background: var(--primary);
  color: var(--light);
}

.dropdown-error {
  margin: 8px 0;
  color: #a84632;
}
