.features {
  background: #f9fafc;
  width: 100%;
  margin: 0 !important;
  max-width: none !important;
}

.features-container {
  margin: auto;
  max-width: 1250px;
  padding: 80px 30px;
}

.features h1 {
  font-size: 3rem;
  margin-bottom: 80px;
  color: #324065;
  font-weight: 400;
}

.features h1 span {
  position: relative;
  font-style: italic;
}

.features h1 span hr {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: linear-gradient(121deg, rgba(0, 206, 175, 1) 0%, rgba(0, 206, 132, 1) 100%);
  border-radius: 15px;
  height: 4px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px;
}

.features-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.features-card > div:first-child {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background: #9aa3bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-card > div:last-child {
  margin-left: 25px;
}

.features-card > div:first-child svg {
  color: #324065;
  font-size: 4rem;
  max-width: 65px;
  width: 100%;
}

.features-card h2 {
  color: #324065;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.features-card p {
  max-width: 300px;
  color: #3240657c;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .features-card {
    flex-direction: column;
    align-items: center;
  }

  .features-card > div:first-child {
    margin-bottom: 20px;
  }

  .features-card h2 {
    text-align: center;
  }

  .features-card p {
    text-align: center;
  }

  .features h1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .features-card > div:last-child {
    margin-left: 0;
  }

  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-container {
    padding: 40px 30px;
  }
}
