.heading-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 150px auto !important;
  padding: 0 30px;
}

.heading-section > div:first-child {
  width: 45%;
  padding-right: 100px;
}

.heading-section > div:nth-child(2) {
  width: 55%;
  align-self: flex-end;
}

.heading-section img {
  max-width: 1200px;
  width: 100%;
}

.heading-section h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.heading-section p {
  color: #99aad8;
  font-size: 1.4rem;
  margin-bottom: 60px;
}

.heading-section p span {
  font-style: italic;
}

.heading-section h1 span {
  position: relative;
}

.heading-section h1 span hr {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: linear-gradient(121deg, rgba(0, 206, 175, 1) 0%, rgba(0, 206, 132, 1) 100%);
  border-radius: 15px;
  height: 4px;
}

@media (max-width: 1200px) {
  .heading-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px auto !important;
  }

  .heading-section > div:first-child {
    padding-right: 0;
    width: 100%;
  }

  .heading-section > div:nth-child(2) {
    width: 100%;
  }

  .heading-section button {
    margin-bottom: 40px;
  }

  .heading-section h1 {
    margin-bottom: 20px;
  }

  .heading-section p {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .heading-section button {
    width: 100%;
    min-width: 0;
  }

  .heading-section h1 {
    font-size: 2rem;
  }
}
