.inputbox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}

.inputbox-container label {
  color: #fff;
  font-size: 1.6rem;
  margin: 0 0 10px 8px;
}

.inputbox-container input {
  padding: 15px;
  outline: none;
  background: #212b45;
  color: #99aad8;
  width: 100%;
  font-size: 1.2rem;
}

.inputbox-container input::placeholder {
  color: #5c6e93;
}

.inputbox-container p {
  margin: 8px 0;
  color: #a84632;
}
