.inputbox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.inputbox-container label {
  color: var(--dark);
  font-size: var(--p);
  margin-bottom: 12px;
}

.inputbox-container input {
  outline: none;
  font-weight: 600;
  background: var(--primary-lightest);
  color: var(--dark);
  font-size: var(--p);
  border: 1px solid var(--primary);
  padding: 9px;
  width: 100%;
}

.inputbox-container input::placeholder {
  color: var(--primary-dark);
}

.inputbox-container p {
  margin: 8px 0;
  color: #a84632;
}
