.navbar {
  padding: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.navbar-brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  margin-right: 15px;
}

.navbar-brand {
  font-size: var(--strong);
  color: var(--dark);
  font-weight: 900;
}

.navbar-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar-links > * {
  margin-left: 25px;
}

.navbar-links > *:first-child {
  margin-left: 0;
}

#navbar-btn-svg {
  margin-left: 8px;
}

@media (max-width: 1150px) {
  .navbar-logo {
    margin-right: 10px;
    max-width: 34px;
  }
}
