nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav img {
  max-width: 35px;
  width: 100%;
  margin-right: 15px;
}

nav strong {
  font-size: var(--strong);
  font-weight: 500;
}

nav button {
  margin-left: 10px;
}

.login-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-left: 20px;
}

.login-btn svg {
  font-size: 2rem;
  color: #fff;
}

.login-btn svg:hover {
  color: rgb(228, 226, 226);
}

@media (max-width: 1150px) {
  nav img {
    max-width: 30px;
    margin-right: 12px;
  }
}

@media (max-width: 550px) {
  nav strong {
    display: none;
  }
}
