.sites-overview {
  background: #f9fafc;
  min-height: calc(100vh - 72px);
  width: 100%;
}

.sites-overview h3,
.sites-overview h2 {
  font-weight: normal;
}

.sites-overview-email {
  color: #828797;
  font-size: var(--strong);
  font-weight: 500;
}

.sites-overview-username {
  color: var(--dark);
  font-size: var(--h3);
  font-weight: 700;
  margin-bottom: 40px;
}

.sites-overview-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.sites-overview-cards-container .site-card {
  cursor: pointer;
}

@media (max-width: 600px) {
  .sites-overview-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sites-overview-cards-container .site-card {
    width: 100%;
    min-width: 0;
    margin-right: 0;
  }
}
